*{margin: 0; padding: 0;}
li{list-style: none;}
a:link, a:visited{text-decoration: none; color:#333;}
.clearfix:after{content: ""; display: block; clear: both;}

.router-link-active{  background: orange;}
.navbar-nav{margin-left: auto;}
.navbar-nav > li{margin-right: 10px;}


footer.footer{
    background: #ccc; padding: 20px;
}